@model LocationVoiture.Models.Voiture
@{
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}
<div class="m-5">
    <h2>Details</h2>

    <div>
        <h4>@LocationVoiture.Resources.Views.Voitures.Create.car</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <dl class="dl-horizontal row">
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.ApplicationUser.UserType)
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.ApplicationUser.UserType)
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.Marque.libele)
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.Marque.libele)
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.Offre.libele)
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.Offre.libele)
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.nb_passagers)
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.nb_passagers)
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.couleur)
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.couleur)
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.prix)
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.prix)
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.disponible)
                    </dt>

                    <dd class="col-md-8">
                        @if (Model.disponible)
                        {
                            <span>  @LocationVoiture.Resources.most.yes</span>
                        }
                        else
                        {
                            <span>  @LocationVoiture.Resources.most.no</span>
                        }
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.anne)
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.anne)
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.km)
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.km)
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => model.date_ajout)
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.date_ajout)
                    </dd>

                </dl>
            </div>
            <div class="col-md-4">
                <img src="~/Uploads/cars/@Html.DisplayFor(model => model.photo)" class="img-thumbnail h-75 w-100" />

            </div>
        </div>
    
    </div>
    <p>
        @Html.ActionLink(@LocationVoiture.Resources.Views.Voitures.Edit.edit, "Edit", new { id = Model.id_voiture }) |
        @Html.ActionLink(@LocationVoiture.Resources.most.back, "Index")
    </p>
</div>