
@model IEnumerable<LocationVoiture.Models.Voiture>

<div class="m-5">
    <p>
        @Html.ActionLink(LocationVoiture.Resources.most.create, "Create")
    </p>
    <hr />
    <table class="table table-striped" id="cars">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marque.libele)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.couleur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.disponible)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date_ajout)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_voiture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marque.libele)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.couleur)
                    </td>
                    <td>
                        <img src="~/Uploads/cars/@Html.DisplayFor(model => item.photo)" class="img-thumbnail" style="width:48px; height:48px;" />
                    </td>
                    <td>
                        @if (item.disponible)
                        {
                            <span>  @LocationVoiture.Resources.most.yes</span>
                        }
                        else
                        {
                            <span>  @LocationVoiture.Resources.most.no</span>
                        }
                    </td>
                    <td>
                        @Convert.ToDateTime(item.date_ajout).ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Voitures", new { id = item.id_voiture })" class="text-success">
                            <i class="material-icons icon ">
                                visibility
                            </i>
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Edit", "Voitures", new { id = item.id_voiture })" class="text-warning">
                                <i class="material-icons icon ">
                                    edit
                                </i>
                            </a>
                            <a data-delete-id="@item.id_voiture" class="text-danger delete-link-voiture pointer">
                                <i class="material-icons icon ">
                                    delete
                                </i>
                            </a>
                            @Html.Hidden("__RequestVerificationToken", @Html.AntiForgeryToken())
                        }
                        @if (User.IsInRole("Tenant"))
                        {
                            <a href="~/Reservations/Create/@item.id_voiture">Réserver</a>
                        }


                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>