@model LocationVoiture.Models.Offre

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Offre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taux_remise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taux_remise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_expiration)
        </dt>

        <dd>
            @Convert.ToDateTime(Model.date_expiration).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_ajout)
        </dt>

        <dd>
            @Convert.ToDateTime(Model.date_ajout).ToString("dd/MM/yyyy")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_offre }) |
    @Html.ActionLink("Back to List", "Index")
</p>
