@model IEnumerable<LocationVoiture.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<p>
    <a href="@Url.Action("Create", "ApplicationUsers")" class="text-success">
        Create
    </a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_join)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAdress)
            </th>

            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Convert.ToDateTime(item.date_join).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAdress)
            </td>
            <td>
                <a href="@Url.Action("Edit", "ApplicationUsers", new { id = item.Id  })" class="text-success">
                    <i class="material-icons icon " style="color:yellow">
                        edit
                    </i>
                </a>
                <a href="@Url.Action("Details", "ApplicationUsers", new { id = item.Id  })" class="text-success">
                    <i class="material-icons icon ">
                        visibility
                    </i>
                </a>
                <a data-delete-id="@item.Id" class="text-danger delete-link-user pointer">
                    <i class="material-icons icon ">
                        delete
                    </i>
                </a>
                @Html.Hidden("__RequestVerificationToken", @Html.AntiForgeryToken())
            </td>
        </tr>
    }
    <tbody>
</table>
